/* 웹 페이지 주요 색상 정의 */
:root {
    /* 다크 모드 색상 */
    --dark-background: #1e1e1e;
    --dark-color: #ffffff;

    /* 라이트 모드 색상 */
    --light-background: #fbfbfb;
    --light-color: #1e1e1e;

    /* 하이라이트 색상 */
    --highlight-color: #466dfa;
    --highlight-hover-color: #4366e4;

    /* 그림자 색상 */
    --dark-shadow: #f5f5f510;
    --light-shadow: #1e1e1e10;

    /* 윤곽선 색상 */
    --dark-border: #f5f5f50F;
    --light-border: #1e1e1e0F;

    /* 활성/비활성 색상 */
    --dark-active: #ffffff;
    --dark-unactive: #ffffff60;

    --light-active: #1e1e1e;
    --light-unactive: #1e1e1e60;
}


/* 웹 페이지 기본 속성 정의 */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 라이트 모드 시 웹 속성 */
@media (prefers-color-scheme: light) {

    html,
    body {
        background: var(--light-background);
    }

    .dock {
        background: var(--light-background);
        filter: drop-shadow(0px 0px 18px var(--light-shadow));

        border: 1px solid var(--light-border);
    }

    .item-icon {
        background-color: var(--light-active);
    }

    .item-name {
        color: var(--light-color);
    }

    .unactive {
        background-color: var(--light-unactive);
    }
}


/* 다크 모드 시 웹 속성 */
@media (prefers-color-scheme: dark) {

    html,
    body {
        background: var(--dark-background);
    }

    .dock {
        background: var(--dark-background);
        filter: drop-shadow(0px 0px 18px var(--dark-shadow));

        border: 1px solid var(--dark-border);
    }

    .item-icon {
        background-color: var(--dark-active);
    }

    .item-name {
        color: var(--dark-color);
    }

    .unactive {
        background-color: var(--dark-unactive);
    }
}

/* 하단 독 속성 */
footer {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    
    z-index: 10;
}

.dock {
    width: 100%;
    height: 100%;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dock-list {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.dock-item {
    width: 100%;
    height: 100%;

    display: grid;
}

.item-icon {
    width: 36px;
    height: 36px;

    border-radius: 25%;
    margin: auto;
}

.item-name {
    font-size: 13px;
    text-align: center;
}