/* 웹 페이지 주요 색상 정의 */
:root {
    /* 다크 모드 색상 */
    --dark-background: #1e1e1e;
    --dark-color: #ffffff;

    /* 라이트 모드 색상 */
    --light-background: #fbfbfb;
    --light-color: #1e1e1e;

    /* 하이라이트 색상 */
    --highlight-color: #466dfa;
    --highlight-hover-color: #4366e4;

    /* 그림자 색상 */
    --dark-shadow: #f5f5f510;
    --light-shadow: #1e1e1e10;

    /* 윤곽선 색상 */
    --dark-border: #f5f5f50F;
    --light-border: #1e1e1e0F;

    /* 활성/비활성 색상 */
    --dark-active: #ffffff;
    --dark-unactive: #ffffff60;

    --light-active: #1e1e1e;
    --light-unactive: #1e1e1e60;
}


/* 웹 페이지 기본 속성 정의 */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 라이트 모드 시 웹 속성 */
@media (prefers-color-scheme: light) {
    html,
    body {
        background: var(--light-background);
    }
}


/* 다크 모드 시 웹 속성 */
@media (prefers-color-scheme: dark) {
    html,
    body {
        background: var(--dark-background);
    }
}

/* 하단 독 속성 */
footer {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    
    z-index: 10;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
}