
@media (prefers-color-scheme: light) {
    .title {
        color: var(--light-color);
    }

    .subtitle {
        color: var(--light-unactive);
    }

    .container-text {
        color: var(--light-color);
    }
}

@media (prefers-color-scheme: dark) {
    .title {
        color: var(--dark-color);
    }

    .subtitle {
        color: var(--dark-unactive);
    }

    .container-text {
        color: var(--dark-color);
    }
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;
}

.title-box {
    width: 100%;
    height: 72px;

    margin-top: 130px;
    padding-left: 28px;
}

.title {
    font-size: 42px;
    font-weight: 900;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;

    margin-top: 2px;
}

.content {
    width: 100%;
    height: 100%;

    margin-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
}

.scoll-box {
    width: 85%;
    height: 58%;

    border-radius: 15px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.form-box {
    width: 85%;
    height: 55%;
}

.grid-container {
    display: grid;
}

.container-text {
    font-size: 18px;
    font-weight: 700;
}