
@keyframes LeftTab {
    0% {
        opacity: 1.0;
        left: 0%;
    }

    25% {
        opacity: 0.0;
        left: 100%;
    }

    26% {
        left: -100%;
    }

    100% {
        opacity: 1.0;
        left: 0%;
    }
}

@keyframes RightTab {
    0% {
        opacity: 1.0;
        right: 0%;
    }

    25% {
        opacity: 0.0;
        right: 100%;
    }
    
    26% {
        right: -100%;
    }

    100% {
        opacity: 1.0;
        right: 0%;
    }
}

.TabChangeL iframe {
    animation: LeftTab 0.35s forwards ease-in-out;
}

.TabChangeR iframe {
    animation: RightTab 0.35s forwards ease-in-out;
}